{% extends "forum/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{ count_today_hidden }}<sup style="font-size: 20px"></sup></h3>

              <p>Просмотрено</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
           
          </div>
       </div>
{% endblock %}

{% block js %}


{% endblock %}